.Data-Logger {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  overflow-y: scroll;
  background: #222;
}

.Data-Logger__table {
  box-sizing: border-box;
  width: 100%;
  max-width: 12rem;
  height: 100%;
  margin: 1rem auto;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.Data-Logger__table th {
  font-weight: 100;
  padding: 0.25rem 0 0.75rem;
}

.Data-Logger__table td {
  font-weight: 100;
  padding: 0.25rem 0;
}